// Style for the main app component, utilizing Bootstrap classes
.editable-fields {
  margin-bottom: 20px;
}

.subtask-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

h4 {
  font-family: "Circular-Std", sans-serif;
  font-weight: 600;
}

.container {
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
}
