<div class="container">
  <!-- Header -->
  <app-header [title]="'Mega Electronix'" [subtitle]="'Edit task'"></app-header>

  <hr />

  <!-- Icon Buttons -->
  <div class="d-flex justify-content-start mb-3">
    <app-icon-buttons
      svgPath="assets/icon-details.svg"
      buttonTitle="Details"
      class="me-2"
      (viewChanged)="onViewChange($event)"
    ></app-icon-buttons>
    <app-icon-buttons
      svgPath="assets/icon-activity.svg"
      buttonTitle="Activity"
      class="me-2"
      (viewChanged)="onViewChange($event)"
    ></app-icon-buttons>
    <app-icon-buttons
      svgPath="assets/icon-comments.svg"
      buttonTitle="Comments"
      class="me-2"
      (viewChanged)="onViewChange($event)"
    ></app-icon-buttons>
    <app-icon-buttons
      svgPath="assets/icon-attachments.svg"
      buttonTitle="Attachments"
      (viewChanged)="onViewChange($event)"
    ></app-icon-buttons>
  </div>

  <hr />

  <!-- Logic Pilot and Other Views -->
  <div class="mb-4">
    <ng-container *ngIf="activeView === 'Details'">
      <app-logic-pilot></app-logic-pilot>
    </ng-container>
    <ng-container *ngIf="activeView === 'Activity'">
      <app-activity></app-activity>
    </ng-container>
    <ng-container *ngIf="activeView === 'Comments'">
      <app-comments></app-comments>
    </ng-container>
    <ng-container *ngIf="activeView === 'Attachments'">
      <app-attachments></app-attachments>
    </ng-container>
  </div>

  <!-- Editable Fields Block (Visible only in 'Details' view) -->
  <div *ngIf="activeView === 'Details'" class="mb-5">
    <div class="mb-3">
      <!-- Status (Non-editable) -->
      <app-editable-part
        [value]="'Unpaid'"
        [label]="'Status'"
        [editable]="false"
      ></app-editable-part>
    </div>
    <div class="mb-3">
      <app-editable-part
        [value]="'Brian Griffin'"
        [label]="'Assignee'"
      ></app-editable-part>
    </div>
    <div class="mb-3">
      <app-editable-part
        [value]="'Peter Griffin'"
        [label]="'Co-owner'"
      ></app-editable-part>
    </div>
    <div class="mb-3">
      <app-editable-part
        [value]="'Very urgent'"
        [label]="'Importance'"
      ></app-editable-part>
    </div>
    <div class="mb-3">
      <app-editable-part
        [value]="'Enter name'"
        [label]="'Customer name'"
      ></app-editable-part>
    </div>
    <div class="mb-3">
      <app-editable-part
        [value]="'19823190'"
        [label]="'Invoice ID'"
      ></app-editable-part>
    </div>

    <!-- Subtask List (Visible only in 'Details' view) -->
    <app-subtask-list></app-subtask-list>
  </div>
</div>
